@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        scrollbar-width: none;
        scroll-behavior: smooth;
    }
    *::-webkit-scrollbar {
        width: 0;
    }
    html {
        scroll-padding-top: 3rem;
        overflow-x: hidden;
        width: 100vw;
    }
    body {
        @apply font-primary bg-beige;
        overflow-x: hidden;
        width: 100vw;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-secondary;
    }
}

@layer components {
    .btn {
        @apply px-10;
    }

    .menu-link {
        @apply font-secondary text-4xl md:text-7xl text-center lowercase font-bold text-darkGreen hover:text-green 
                border-b-1 md:border-b-2 border-darkGreen hover:border-green mt-8 pb-4 transition-all duration-300;
    }
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
}

.fadeOut {
    animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-20px, 0);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-20px, 0);
        opacity: 0;
    }
}
